<h1>Edit Product Form</h1>
<form action="/<%= product._id %>/save-product" method="POST">
  <p><input type="text"   name="name"        value="<%= product.name %>"        placeholder="Product Name" /></p>
  <p><input type="text"   name="description" value="<%= product.description %>" placeholder="Product Description" /></p>
  <p><input type="number" name="price"       value="<%= product.price %>"       placeholder="Product Price" /></p>
  <p><input type="text"   name="imageurl"    value="<%= product.imageurl %>"    placeholder="Image URL" /></p>
  <p><button>Save</button></p>
</form>